body{
    background-image: url("img/background1.jpg") !important;
    background-image: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:'Courier New', Courier, monospace;
}

h1, h2, h3, p, li, .col-sm  {
    color: white;
    font-weight: normal;
    font-family:'Courier New', Courier, monospace;
}

.container {
    text-align: center;
    width: 90%;
    margin:auto;
}

@media screen and (min-width: 768px)
{
.container {
    text-align: center;
    width: 50%;
    margin:auto;
    padding-right: 600px;
}
}
